# Ignore Aider AI tool files
.aider*
!.aider.conf.yml
!.aiderignore
# Ignore generated build files with `cmake .`
/src/CMakeFiles/*
/src/CMakeCache.txt
/src/CPackConfig.cmake
/src/CPackSourceConfig.cmake
/src/Makefile
/src/cmake_install.cmake
/src/config.h
